<div role="alert" class="flex flex-col gap-2 rounded border-l-4 border-red-5 bg-red-1 p-4">
  @if(title)
    <strong class="block font-medium text-red-6">{{ title }}</strong>
  @end

  @if(description)
    <p class="text-sm text-red-5">{{ description}}</p>
  @end
</div>
