<div role="alert" class="alert alert-error">
  @if(title)
    @svg('ph:x-circle', { class: 'text-2xl' })
    <strong class="block font-medium text-red-6">{{ title }}</strong>
  @end

  @if(description)
    <p class="text-sm text-red-5">{{ description}}</p>
  @end
</div>
