@set('method', method || 'POST')

<form
  up-submit
  method="{{ method }}"
  {{{ up.isInModal() ? 'up-layer="parent or root"' : ''}}}
  class="{{ clsx( { 'flex flex-col gap-4 mt-4 mx-auto': !excludeDefaultStyles }, className) }}"
  {{ $props.serializeExcept(['method']) }}
>
  {{ csrfField() }}
  {{{ await $slots.main() }}}
</form>
