PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=9e3_2gKRxlnlCL9ahXTl9hSi9VlctHMH
DRIVE_DISK=local
SESSION_DRIVER=cookie
CACHE_VIEWS=false
DB_CONNECTION=pg
PG_HOST=localhost
PG_PORT=5432
PG_USER=daedalus
PG_PASSWORD=daedalus
PG_DB_NAME=daedalus
