<div class="overflow-x-auto mt-4 py-2">
  <table class="table">
    <thead>
      <tr>
        @each(item in head)
          <th
            class="th"
          >
            {{ item }}
          </th>
        @endeach
      </tr>
    </thead>

    <tbody>
      {{{ await $slots.main() }}}
    </tbody>
  </table>

  @!table.pagination({ model: model })
</div>

