<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" type="text/css" href="{{ asset('assets/app.css') }}">
  @entryPointStyles('app')
  @entryPointScripts('app')
  </head>
<body layout-root class="bg-base-200/80 h-screen w-screen">
  @include('partials/toasts')

  <div class="flex flex-col lg:flex-row lg:ml-[312px] mt-16 p-3 lg:mt-0">
    @include('partials/sidebar')
    <div up-main layout-main class="flex flex-col w-full">
      @!section('body')
    </div>
  </div>

  <script>
    window.onload = () => {
      window.Alpine.start()

      var sidebarLinks = document.querySelectorAll('.sidebarLink')

      var initialActiveLink = document.querySelector(`#${window.location.pathname.split('/')[2]}`)
      initialActiveLink?.classList?.add('active')

      up.on('up:location:changed', function() {
        Alpine.store('sidebar').close()

        sidebarLinks.forEach(function(element) {
          element?.classList?.remove('active')
        })

        var activeLink = document.querySelector(`#${window.location.pathname.split('/')[2]}`)
        activeLink?.classList?.add('active')
      });
    };
  </script>
</body>
</html>
