@layout('layouts/main')
@set('title', 'Home')

@section('body')
  <div class="max-w-lg mx-auto py-8">
    <h1 class="mb-8 text-3xl font-bold text-gray-800md:text-4xl">Adonis Boilerplate</h1>
  </div>
@end
