@layout('layouts/main')
@set('title', 'Home')

@section('body')
  <div class="max-w-lg mx-auto py-8">
    <h1 class="mb-8 text-3xl font-bold text-gray-800 md:text-4xl text-center">Daedalus</h1>

    <p class="text-neutral-700 text-center max-w-sm mx-auto">A boilerplate with AdonisJS, TailwindCSS, AlpineJS and Hotwire Turbo</p>
  </div>
@end
